.header {
  height: 64px;
  background-color: #dde5b6;
}
.logoBox {
  margin-left: 2rem;
}
.logo {
  font-size: 32px;
  color: #343a40;
}
.nav {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}
.tab {
  color: #343a40;
  text-decoration: none;
  font-weight: 700;
  padding: 9px;
  border-radius: 24px;
}
.light:hover {
  background-color: #ccd5ae;
}
.dark {
  color: #dde5b6;
}
